# Ignore node_modules (frontend and backend)
node_modules/

# Ignore environment files (backend)
backend/config.env

# Ignore Flutter build files
build/
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# Ignore IDE-specific files
.idea/
.vscode/
*.swp
*.swo

# Ignore OS-specific files
.DS_Store
Thumbs.db